@font-face {
  font-family: "JacobTT";
  src: url("/fonts/JacobTT.ttf");
}
@font-face {
  font-family: "JakobExtraC";
  src: url("/fonts/JakobExtraC.otf");
}
@font-face {
  font-family: "Chocolate";
  src: url("/fonts/Chocolate cyr-lat.otf");
}