// Colors
$color-primary: #ffffe5;
// Font size
$fz-xs: 1.2rem;
$fz-s: 1.4rem;
$fz-m: 1.6rem;
$fz-l: 1.8rem;
$fz-xl: 2rem;
$fz-xxl: 2.2rem;
$fz-xxxl: 2.4rem;
// Spacing
$xs: 1.2rem;
$s: 1.4rem;
$m: 1.6rem;
$l: 1.8rem;
$xl: 2rem;
$xxl: 2.2rem;
$xxxl: 2.4rem;
$desktop-br: 744px;