.wave
  .wave__img.wave__img--flipY
.categories
  .container
    .categories__box
      .categories__item.category
        img(src="/images/square-1.png").category__img.mr-xl
        img(src="/images/square-2.png").category__img
        h3.category__title Прогулочные коляски 
      .categories__item.category
        img(src="/images/square-3.png").category__img.mr-xl
        img(src="/images/square-4.png").category__img
        h3.category__title.category__title--even Коляски трости 
.wave
  .wave__img