.info
  .container
    h1.info__title.title Выбирай лучшие детские товары
    p.info__text UAUA.info проводит голосование среди своих читателей, чтобы выяснить, какие товары для детей в возрасте от 0 до 3-х лет мамы считают лучшими.
    p.info__text Голосование за Лучшие детские товары 2019 будет проходить в 4 этапа:
    ul.info__list.list
      li.list__item.list__item-bg 
        span.list__item-bullet 1
        div.list__item-text Новая парадигма реальности: прототип - не панацея.
      li.list__item.list__item-bg 
        span.list__item-bullet 2
        div.list__item-text Как бы то ни было, сплоченность команды профессионалов позволила расправить крылья.
      li.list__item.list__item-bg 
        span.list__item-bullet 3
        div.list__item-text Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что.
      li.list__item.list__item-bg 
        span.list__item-bullet 4
        div.list__item-text Подведение итогов голосования.