.partners
  .container
    h1.title Наши партнеры
    .partners__list
      img(src="/images/partner-1.png").partners__logo
      img(src="/images/partner-2.png").partners__logo
      img(src="/images/partner-3.png").partners__logo